body{
    background-color: black;
    background-image: url(LandingPageBackgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed center;
    align-items: center;
}

.discription{
    padding-top: 5cm;
}