body{
    background-color: black;
    background-image: url(/media/LandingPageBackgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed center;
    align-items: center;
    text-decoration-color: white;
}

.discription{
    margin-top: 2cm;
    margin-left: 2cm;
}