{{template "base" .}}

{{define "content"}}

    <div class="discription">
        <h2 class="display-5 link-body-emphasis mb-1">About Us</h2>
        <hr>
        <br>
        <p>Here is were you can learn more about what I know and how I get stuff done.</p>
        <br>
    </div>

{{end}}