{{template "base" .}}

{{define "content"}}

    <div class="discription">
        <h1>Feel free to connect</h1>
        <hr>
        <br>
        <a href="https://twitter.com/M45t3rJ4ck">X(twitter) @M45t3rJ4ck</a>
        <br>
        <a href="https://github.com/M45t3rJ4ck">GitHub @M45t3rJ4ck</a>
        <br>
    </div>

{{end}}