{{template "base" .}}

{{define "content"}}

  <div class="discription">
    <h1>Cascading Style Sheets</h1>
    <hr>
    <br>
    <p>Here we will be styling the <a href="/templates/html.html">html</a> dicussed previously, adding more power to your ideas.</p>
    <br>
  </div>

{{end}}