{{template "base" .}}

{{define "content"}}

    <div class="discription">
        <h1>Welcome to the home of eventual progress</h1>
        <hr>
        <br>
        <p>Here we will be discussing programming related topics only, but which will most probably cover everything in life.</p>
        <br>
    </div>

{{end}}