{{template "base" .}}

{{define "content"}}

  <div class="discription">
    <h1>HyperText Markup Language</h1>
    <hr>
    <br>
    <p>Here, in a few short hours, you will be able to understand and then create basic layouts for fututre web development projects.</p>
    <br>
  </div>

{{end}}