{{template "base" .}}

{{define "content"}}

  <div class="discription">
    <h1>This page is where you can find more help</h1>
    <hr>
    <br>
    <p>A good base line starting point for anyone, <a href="https://www.w3schools.com/">W3 Schools</a>.</p>
    <br>
    <p>A good back up starting point for anyone, <a href="https://stackoverflow.com/">Stack Overflow</a>.</p>
    <br>
    <p>A good visual starting point for anyone, <a href="https://www.youtube.com/">You Tube</a>.</p>
    <br>
    <p>A good starting point for any programmer, <a href="https://scratch.mit.edu/">Scratch</a>.</p>
    <br>
  </div>

{{end}}