body {
    background-color: black;
    background-image: url(/static/media/LandingPageBackgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed center;
    align-items: center;
}

.discription {
    margin-top: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 3cm;
    color: maroon;
}